@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face{
    font-family: "Raleway";
    src: url(Fonts/Raleway-VariableFont_wght\ \(convert.io\).woff);
    src: url(Fonts/Raleway-VariableFont_wght.ttf);
}
*{
    display: flexbox;
    flex-wrap: wrap;
    max-width: 1160px;
    justify-content: space-evenly;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #17abb3;
    color: #ffffff;
    justify-content: left;
    vertical-align: middle;
}
a:link{
        color: #ffffff;
        text-decoration: none;
    }
a:visited{
    color: #ffffff;
}
img{
    height: 166px;
    width: 166px;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff;
    border-radius: 50%;

}
h1{
    font-size:xx-large;
    width: 802px;
    font-family: "Lato";

}
#job{
    font-size: large;
    font-family: "Lato";
}
#categorie{
    font-family: "Lato";
    color: #17abb3;
}
p{
    font-family: "Raleway";
}
ul{
    font-family: "Raleway";
}
body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}
.element_1{
    order: 1;
    width: 350px;
    background-color: #e3e3e3;
}
.element_2{
    order: 2;
    width: 750px;
}.element_3{
    order: 3;
    width: 350px;
    background-color: #e3e3e3;
}
.element_4{
    order: 4;
    width: 750px;
}
.element_5{
    order: 5;
    width: 350px;
    background-color: #e3e3e3;
}
.element_6{
    order: 6;
    width: 750px;
}
.element_7{
    order: 7;
    width: 350px;
    background-color: #e3e3e3;
}
.element_8{
    order: 8;
    width: 750px;
}
footer{
    order: 9;
    width: 1160px;
}
#perso{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}
}
}
    max-width: 1160px;
}
