*{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    justify-content: center;
    align-items: center;}
header{
    background-color: #17abb3;
    color: #ffffff;
}
a:link{
        color: #ffffff;
        text-decoration: none;
    }
a:visited{
    color: #ffffff;
}
}
    max-width: 1160px;
}
