*{
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #17abb3;
    color: #ffffff;
    justify-content: left;
    vertical-align: middle;
}
a:link{
        color: #ffffff;
        text-decoration: none;
    }
a:visited{
    color: #ffffff;
}
img{
    height: 166px;
    width: 166px;
    border-style: solid;
    border-width: 4px;
    border-color: #ffffff;
    border-radius: 50%;

}
h1{
    font-size:xx-large;
    width: 802px;
}
#job{
    font-size: large;
}
#perso{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}